/* Mobile */
ul {
    list-style-type: none;
    padding: 0;
}
  
a {
    text-decoration: none;
}
  
.nav-mobile {
    font-size: 16px;
    display: none;
}
  
.nav-mobile .hamburger {
    color: black;
    cursor: pointer;
    font-size: 2em;
}
  
.nav-mobile-sidebar .close-menu {
    background-color: #ccc !important;
    padding-bottom: 40px;
}
  
.nav-mobile-is-toggled .nav-mobile-sidebar {
    transform: translateX(0);
    left: 0;
}
  
.nav-mobile-is-toggled::after {
    opacity: 1;
    visibility: visible;
}
  
.nav-mobile-sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #eee;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.3s;
}
  
.nav-mobile-items {
    flex: 0 0 100%;
}
  
.nav-mobile-item:not(:last-child) {
    border-bottom: solid 1px black;
}
  
.nav-mobile-link {
    display: block;
    padding: 0.875em 1em;
    background-color: #eee;
    color: black;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
}
  
.nav-mobile-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #eee;
    transition: 0.3s;
    /* visibility: hidden; */
}
  
.nav-mobile-expand-content .nav-mobile-item:not(:last-child) {
    border-bottom: solid 1px black;
}
  
.nav-mobile-expand-content .nav-mobile-link {
    background-color: #eee;
}
  
.nav-mobile-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: #ccc !important;
    color: #fff;
}
  
.nav-mobile-expand-content .nav-back-link::before {
    content: "\F284";
    margin-right: 0.5em;
    font-family: "bootstrap-icons";
}
  
.close-menu,
.nav-mobile-expand-link {
    display: flex;
    justify-content: space-between;
}
  
.close-menu::after {
    content: "\F284";
    font-family: "bootstrap-icons";
  }
  
  
.nav-mobile-expand-link::after {
    content: "\F285";
    font-family: "bootstrap-icons";
}
  
.nav-mobile-expand.active > .nav-mobile-expand-content {
    transform: translateX(0);
    visibility: visible;
}
  
/* PC */
.lfs-theme-nav-top {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 16px;
}
  
.lfs-theme-nav-top-item-link {
    color: white;
}
  
.lfs-theme-nav-top-item-link:hover,
.lfs-theme-nav-top-item-link.active {
    color: #82a41c;
}
  
.lfs-theme-nav-top-item-content {
    display: none;
    color: #82a41c;
    background-color: #eee;
    position: absolute;
    width: 500px;
    border: 1px solid #3f322c;
}
  
.lfs-theme-nav-top-item-content a {
    color: black;
}
  
.lfs-theme-nav-top-item-content a:hover {
    color: #82a41c;
}
  
.lfs-theme-nav-top-item.hover .lfs-theme-nav-top-item-content {
    display: block;
}
  
.lfs-theme-nav-top-current-category {
    padding: 10px;
    background-color: #b9e047;
}
  
.lfs-theme-nav-top-current-category a:hover {
    color: white;
}
  
.lfs-theme-nav-top-level-2 {
    padding: 10px;
    font-weight: bold;
}
  
.lfs-theme-nav-top-level-3 {
    padding: 0 10px;
    font-weight: normal;
}
  
/* Switch */
@media (max-width: 767px) {
    .nav-mobile {
        display: block;
    }  
    .lfs-theme-nav-top {
        display: none;
    }
}