<div id="invoice-address-inline">
	<table class="invoice-address">
	    <tr>
	        <td class="label">
	            {{ form.invoice_firstname.label_tag }}*:
	        </td>
            <td>
            	{{ form.invoice_firstname.errors }}
                {{ form.invoice_firstname }}
            </td>
	    </tr>
	    <tr>
	        <td class="label">
                {{ form.invoice_lastname.label_tag }}*:
            </td>
            <td>
            	{{ form.invoice_lastname.errors }}
                {{ form.invoice_lastname }}
            </td>
	    </tr>
        <tr>
            <td class="label">
                {{ form.invoice_company_name.label_tag }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}*{% endif %}:
            </td>
            <td>
                {{ form.invoice_company_name.errors }}
                {{ form.invoice_company_name }}
            </td>
        </tr>
        {% for field in address_form %}
            <tr>
                <td class="label">
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %}:
                </td>
                <td>
                    {{ field.errors }}
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
		{% if request.user.is_anonymous %}
		    <tr>
		        <td class="label">
		                {{ form.invoice_email.label_tag }}{% if settings.LFS_INVOICE_EMAIL_REQUIRED %}*{% endif %}:
		            </td>
		            <td>
		            	{{ form.invoice_email.errors }}
		                {{ form.invoice_email }}
		            </td>
		    </tr>
	    {% endif %}
	    {% if form.invoice_phone %}
		    <tr>
		        <td class="label">
		            {{ form.invoice_phone.label_tag }}{% if settings.LFS_INVOICE_PHONE_REQUIRED %}*{% endif %}:
		        </td>
		        <td>
		        	{{ form.invoice_phone.errors }}
		            {{ form.invoice_phone }}
		        </td>
		    </tr>
	    {% endif %}
	</table>
</div>
