{% extends "lfs/customer/base.html" %}
{% load i18n lfs_tags %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password change") %}
{% endblock %}

{% block content %}
    <h1>{% trans 'Password change' %}</h1>
    <p class="message">
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
    </p>
    <form action="{% url 'lfs_my_password' %}"
          method="post">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="form">
                {% lfs_form form %}
            </div>
        </div>

        <input type="submit" value="{% trans 'Change password' %}" />
    </form>

{% endblock %}
