{% load i18n lfs_tags %}
<table class="lfs-default">
    <thead>
        <tr>
            <th colspan="2">
                {% trans 'Product' %}
            </th>
            <th class="number">
                {% trans 'Quantity' %}
            </th>
            <th class="number">
                {% trans 'Net Price' %}
            </th>
            <th class="number">
                {% trans 'VAT' %}
            </th>
            <th class="number last">
                {% trans 'Total' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for cart_item in cart_items %}
            <tr>
                <td class="image">
                    <img src="{{ cart_item.product.get_image.image.url_60x60 }}"
                         alt="{{ cart_item.product.get_name }}"/>
                </td>
                <td>
                    {{ cart_item.product.get_name }}
                    {% include "lfs/catalog/products/_product_properties.html" with product=cart_item.product configurable_properties=cart_item.obj.get_properties %}
                </td>
                <td class="number">
                    {{ cart_item.quantity }} {{ cart_item.product.get_unit }}
                    {% if cart_item.product.get_active_packing_unit %}
                        <span class="packing-unit">
                            ({{ cart_item.obj|packages }} {{ cart_item.product.get_packing_info.1 }})
                        </span>
                    {% endif %}

                </td>
                <td class="number">
                    {{ cart_item.product_price_net|currency:request}}
                </td>
                <td class="number">
                    {{ cart_item.product_tax|currency:request}}
                </td>
                <td class="number last">
                    {{ cart_item.product_price_gross|currency:request}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="total">
            <td colspan="3"></td>
            <td colspan="3" class="number total">
                {% trans 'Total' %}: {{ total|currency:request}}
            </td>
        </tr>
    </tfoot>
</table>
