{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Cart' %} - {{ block.super }}
{% endblock %}

{% block section %}cart{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _('Cart') %}
{% endblock %}

{% block wrapper %}
    {# Voucher #}            
    <h2 class="padding-top-large">
        {% trans "Voucher code" %}
    </h2>
    <input data="{% url lfs_check_voucher_cart %}"
           type="text"
           id="voucher"
           name="voucher"
           value="{{ voucher_number }}"
           size="30" />

    <div id="cart-inline">
        {{cart_inline}}
    </div>
{% endblock %}