<div id="invoice-address-inline">
<table class="invoice-address">
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_firstname.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_firstname">{{ form.invoice_firstname.label_tag  }}:</label>
        </td>
        <td>
            {{ form.invoice_firstname }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_lastname.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_lastname">{{form.invoice_lastname.label_tag}}:</label>
        </td>
        <td>
            {{ form.invoice_lastname }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_company_name.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_company_name">{{form.invoice_company_name.label_tag}}:</label>
        </td>
        <td>
            {{ form.invoice_company_name }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_street.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_street">{{ form.invoice_street.label_tag }}:</label>
        </td>
        <td>
            {{ form.invoice_street }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_zip_code.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_zip_code">{{ form.invoice_zip_code.label_tag }}:</label>
        </td>
        <td>
            {{ form.invoice_zip_code }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_city.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_city">{{form.invoice_city.label_tag}}:</label>
        </td>
        <td>
            {{ form.invoice_city }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_state.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_state">{{form.invoice_state.label_tag}}:</label>
        </td>
        <td>
            {{ form.invoice_state }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_country.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_country">{{ form.invoice_country.label_tag }}:</label>
        </td>
        <td>
            {{ form.invoice_country }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_email.errors }}
        </td>
    </tr>
    {% if request.user.is_anonymous %}
	    <tr>
	        <td class="label"
	            colspan="2">
	            {{ form.invoice_email.errors }}
	        </td>
	    </tr>
        <tr>
        <td class="label">
                <label for="id_invoice_email">{{ form.invoice_email.label_tag }}:</label>
            </td>
            <td>
                {{ form.invoice_email }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="label"
            colspan="2">
            {{ form.invoice_phone.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_invoice_phone">{{ form.invoice_phone.label_tag }}:</label>
        </td>
        <td>
            {{ form.invoice_phone }}
        </td>
    </tr>
</table>
</div>