<div id="shipping-address-inline">
<table class="shipping-address">
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_firstname.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_firstname">{{ form.shipping_firstname.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_firstname }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_lastname.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_lastname">{{ form.shipping_lastname.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_lastname }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_company_name.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_company_name">{{ form.shipping_company_name.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_company_name }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_street.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_street">{{ form.shipping_street.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_street }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_zip_code.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_zip_code">{{ form.shipping_zip_code.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_zip_code }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_city.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_city">{{ form.shipping_city.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_city }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_state.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_city">{{ form.shipping_state.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_state }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_country.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_country">{{ form.shipping_country.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_country }}
        </td>
    </tr>
    <tr>
        <td class="label"
            colspan="2">
            {{ form.shipping_phone.errors }}
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="id_shipping_country">{{ form.shipping_phone.label_tag }}:</label>
        </td>
        <td>
            {{ form.shipping_phone }}
        </td>
    </tr>
</table>
</div>