<table class="address">
    {% for field in address_form.get_fields_before_postal %}
        <tr>
            <td class="label">
                {{ field.label_tag }}{% if field.field.required %}*{% endif %}:
            </td>
            <td>
                {{ field.errors }}
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    {% for field in postal_form %}
        <tr>
            <td class="label">
                {{ field.label_tag }}{% if field.field.required %}*{% endif %}:
            </td>
            <td>
                {{ field.errors }}
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    {% for field in address_form.get_fields_after_postal %}
        <tr>
            <td class="label">
                {{ field.label_tag }}{% if field.field.required %}*{% endif %}:
            </td>
            <td>
                {{ field.errors }}
                {{ field }}
            </td>
        </tr>
    {% endfor %}
</table>
