{% load i18n %}
{% load lfs_tags %}

{% if show %}
    <div class="filtered-navigation-portlet portlet">

        <div class="portlet-header">
            {{ title }} <a href="{% url 'lfs_reset_all_product_filter' category.slug %}">[x]</a>
        </div>

        <div class="portlet-body">

            {% if show_price_filters %}
                <div class="portlet-item">
                    <div class="filter-title">
                        <span>
                            {% trans "Price" %}
                        </span>
                        {% if price_filters.show_reset %}
                            <a href="{% url 'lfs_reset_price_filter' category.slug %}">[x]</a>
                        {% endif %}
                    </div>

                    <form action="{% url 'lfs_set_price_filter' category.slug %}"
                          method="post">
                        {% csrf_token %}
                            <label class="small">{% trans 'From' %}</label>
                            <input type="text"
                                   name="min"
                                   value="{{ price_filters.min }}"
                                   style="width:40px"
                                   {% if price_filters.disabled %}disabled="disabled"{% endif %} />

                            <label class="small">{% trans 'To' %}</label>
                            <input type="text"
                                   name="max"
                                   value="{{ price_filters.max }}"
                                   style="width:40px"
                                   {% if price_filters.disabled %}disabled="disabled"{% endif %} />

                        <div>
                            <input type="submit"
                                   style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                   value="{% trans 'Go!' %}" />
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if show_product_filters %}
                {% for property_group in product_filters.number_fields %}
                    <div class="portlet-item">
                        <div class="filter-title">
                            <span>
                                {{ property_group.title }}
                            </span>
                            {% if property_group.show_reset %}
                                <a href="{% url 'lfs_reset_number_filter' category.slug property_group.id %}">[x]</a>
                            {% endif %}
                        </div>
                        <form action="{% url 'lfs_set_product_number_filter' %}"
                              method="post">
                            {% csrf_token %}
                            <input type="hidden" name="category_slug" value="{{ category.slug }}" />
                            <input type="hidden" name="property_id" value="{{ property_group.id }}" />
                            <label class="small">{% trans 'From' %}</label>
                            <input type="text"
                                   name="min"
                                   value="{{ property_group.items.min }}"
                                   style="width:40px" />

                            <label class="small">{% trans 'To' %}</label>
                            <input type="text"
                                   name="max"
                                   value="{{ property_group.items.max }}"
                                   style="width:40px" />
                            <div>
                                <input type="submit"
                                       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                       value="{% trans 'Go!' %}" />
                            </div>
                        </form>
                    </div>
                {% endfor %}

                {% for property_group in product_filters.select_fields %}
                    {% if property_group.items %}
                        <div class="portlet-item">
                            <div class="filter-title {% if forloop.first %}first{% endif %}">
                                <span>
                                    {{ property_group.title }}
                                </span>
                                {% if property_group.show_reset %}
                                    <a href="{% url 'lfs_reset_product_filter' category.slug property_group.id %}">[x]</a>
                                {% endif %}
                            </div>
                            {% for property in property_group.items %}
                                <div>
                                    {% if property_group.object.is_number_field %}
                                        {% if property_group.show_quantity %}
                                            <a href="{% url 'lfs_set_product_filter' category.slug property_group.id property.min property.max %}">
                                                {{ property.min|quantity }} - {{ property.max|quantity }} {{ property_group.unit|safe }} ({{ property.quantity }})
                                            </a>
                                        {% else %}
                                            <span>
                                                {{ property.min|quantity }} - {{ property.max|quantity }} {{ property_group.unit|safe }}
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <input type="checkbox"
                                               class="property-checkbox"
                                               id="property-checkbox-{{ property.name }}"
                                               url="{% url 'lfs_set_product_filter' category.slug property_group.id property.value %}"
                                               {% if property.checked %}checked="checked"{% endif %}
                                               {% if property.quantity == 0 %}disabled="disabled"{% endif %} />
                                        <label for="property-checkbox-{{ property.name }}"
                                               {% if property.quantity == 0 %}class="disabled"{% endif %}>{{ property.name }} {{ property_group.unit|safe }} {% if property.show_quantity %} ({{ property.quantity }}){% endif %}</label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if show_manufacturer_filters %}
                <div class="portlet-item">
                    <div class="filter-title">
                        <span>{% trans 'Manufacturer' %}</span>
                    </div>

                    <div class="{% if not manufacturer_filters.show_reset %}active{% endif %}">
                         <a href="{% url 'lfs_reset_all_manufacturer_filter' category.slug %}">{% trans "All" %}</a>
                    </div>

                    {% for mfilter in manufacturer_filters.items %}
                        <div class="{% if mfilter.selected %}active{% endif %}">
                            <a href="{% url 'lfs_set_manufacturer_filter' category.slug mfilter.obj.pk %}">
                                {{ mfilter.obj.name }} ({{ mfilter.obj.products_count }})
                            </a>
                            {% if mfilter.selected %}
                                <a href="{% url 'lfs_reset_manufacturer_filter' category.slug mfilter.obj.pk %}">[x]</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="portlet-footer">
            <a href="{% url 'lfs_reset_all_product_filter' category.slug %}">
                {% trans 'Reset all filters' %}
            </a>
        </div>
    </div>
{% endif %}
