{% if lfs_form_is_form %}{{ lfs_form.non_field_errors }}{% endif %}

{% for field in lfs_form %}
    <div class="field clearfix {% if field.field.required %}required{% endif %}">
        <div class="label">
            {{ field.label_tag }}
        </div>
        
        {% if field.errors %}
            <div class="error">
                {{ field.errors }}
                {{ field }}
            </div>
        {% else %}
            <div>
                {{ field }}
            </div>
        {% endif %}
    </div>
{% endfor %}
