<div id="shipping-address-inline">
    <table class="shipping-address">
        <tr>
            <td class="label">
                {{ form.shipping_firstname.label_tag }}*:
            </td>
            <td>
                {{ form.shipping_firstname.errors }}
                {{ form.shipping_firstname }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ form.shipping_lastname.label_tag }}*:
            </td>
            <td>
                {{ form.shipping_lastname.errors }}
                {{ form.shipping_lastname }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ form.shipping_company_name.label_tag }}{% if settings.LFS_INVOICE_COMPANY_NAME_REQUIRED %}*{% endif %}:
            </td>
            <td>
                {{ form.shipping_company_name.errors }}
                {{ form.shipping_company_name }}
            </td>
        </tr>
        {% for field in address_form %}
            <tr>
                <td class="label">
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %}:
                </td>
                <td>
                    {{ field.errors }}
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
        {% if request.user.is_anonymous %}
           <tr>
                <td class="label">
                    {{ form.shipping_email.label_tag }}{% if settings.LFS_SHIPPING_EMAIL_REQUIRED %}*{% endif %}:
                </td>
                <td>
                    {{ form.shipping_email.errors }}
                    {{ form.shipping_email }}
                </td>
           </tr>
       {% endif %}
       {% if form.shipping_phone %}
            <tr>
                <td class="label">
                    {{ form.shipping_phone.label_tag }}{% if settings.LFS_SHIPPING_PHONE_REQUIRED %}*{% endif %}:
                </td>
                <td>
                    {{ form.shipping_phone.errors }}
                    {{ form.shipping_phone }}
                </td>
            </tr>
       {% endif %}
    </table>
</div>
