{% load lfs_theme_tags %}

<nav class="lfs-theme-nav-top">
    {% for category in categories %}
        <div class="lfs-theme-nav-top-item">
            <a href="{{ category.url }}" class="lfs-theme-nav-top-item-link {% if category.current %}active{% endif %}">
                {{ category.name }}
            </a>
            {% if category.children %}            
                <div class="lfs-theme-nav-top-item-content">
                    <div class="lfs-theme-nav-top-current-category">
                        <a href="{{ category.url }}">
                            Zu {{ category.name }} wechseln
                        </a>
                    </div>
                    <div class="row">
                        {% for category_level_2 in category.children %}
                            <div class="col-6">
                                <div class="lfs-theme-nav-top-level-2">
                                    <div class="row">
                                        <div class="col-2">
                                            <a href="{{ category_level_2.url }}">
                                                <img src="/media/{{ category_level_2.image }}" 
                                                    width="40px"   
                                                    alt="{{ category_level_2.name }}"
                                                    title="{{ category_level_2.name }}">
                                            </a>                                                    
                                        </div>
                                        <div class="col">
                                            <a href="{{ category_level_2.url }}">
                                                {{ category_level_2.name }}
                                            </a>
                                            {% for category_level_3 in category_level_2.children %}
                                                <div class="lfs-theme-nav-top-level-3">
                                                    <a href="{{ category_level_3.url }}">
                                                        {{ category_level_3.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</nav>
<div class="text-start nav-mobile">
    <span class="hamburger">
        <i class="bi bi-list"></i>
    </span>
</div>
{% sidebar_nav %}